.autoprefix {
    display: flex;
}

.cssnext {
    color: color (red alpha(-10%));
}

.foo {
    color: gray(85);
}

.bar {
    color: gray(10%, 50%);
}

$bg-red: #000;
.precss {
    background-color: $bg-red;
}